<!DOCTYPE html>
<html>

<head>
  <title>
    <Plop>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

 <%- include('nav-menu'); %>

  <!-- GRID -->
  <div class="container">

    <div class="row">

      <div class="col-12 offset-lg-2 col-lg-8 text-center">

        <h3 class="title-shift">My tickets</h3>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Journey</th>
              <th scope="col">Date</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Paris/Lille</td>
              <td>02/08/2022</td>
              <td>09h15</td>
              <td class="price">93€</td>

            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Paris/Lille</td>
              <td>02/08/2022</td>
              <td>09h15</td>
              <td class="price">93€</td>
            </tr>
            <tr class="total">
              <th scope="row">Total</th>
              <td ></td>
              <td></td>
              <td></td>
              <td class="price">93€</td>
            </tr>
            
          </tbody>
        </table>
        
        <div class="col-12 offset-lg-9 col-lg-2 validate-btn">
          <a href="/" class="tile-elm btn btn-primary">Go to payment</a>
        </div>

      </div>


    </div> <!-- close main row -->
  </div> <!-- close container -->


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>