<!DOCTYPE html>
<html>

<head>
  <title>
    <Plop>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

  <!-- MENU NAVIGATION -->
  <div class="menu">
    <div class="sous-menu">
      <img id="logo" src="/images/train.png" alt=""> <!-- logo -->
      <a id="ticketac" class="nav-text nav-link active" href="#">Ticketac</a>
    </div>

    <div class="sous-menu">
      <a class="nav-text nav-link" href="#">Connection</a>
      <a class="nav-text nav-link" href="#">My last trips</a>
    </div>
  </div>

  <!-- GRID -->
  <div class="container">

    <div class="row">

      <div class="col-12 offset-lg-2 col-lg-8 text-center">

        <h3 class="title-shift">Tickets available on 02/08</h3>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>

      </div>


    </div> <!-- close main row -->
  </div> <!-- close container -->


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>