<div class="menu">
    <div class="sous-menu">
        <img id="logo" src="/images/train.png" alt=""> <!-- logo -->
        <a id="ticketac" class="nav-text nav-link active" href="#">Ticketac</a>
    </div>

    <div class="sous-menu">
        <a class="nav-text nav-link" href="#">Connection</a>
        <a class="nav-text nav-link" href="#">My last trips</a>
    </div>
</div>