<!DOCTYPE html>
<html>

<head>
  <title>
    <Plop>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>

  <%- include('nav-menu'); %>

  <!-- GRID -->
  <div class="container">

    <div class="row">

      <div class="col-12 text-center"></div>

      <!-- SEARCH -->
      <div class="col-12 offset-lg-2 col-lg-8 text-center">

        <div class="form">

          <h3 class="text-white">Sign-In :</h3>

          <form class="inline-form" action="/search-result" method="POST">

            <div class="form-group-inline">
              <label for="exampleInputEmail1"></label>
              <input list="departureCities" class="form-control" id="departurecities" name="departureCity"
                placeholder="Departure city" aria-describedby="emailHelp">
            </div>

            <div class="form-group-inline">
              <label for="exampleInputPassword1"></label>
              <input list="arrivalCities" class="form-control" placeholder="Arrival city" name="arrivalCity"
                id="arrivalcities">
            </div>

            <div class="form-group-inline">
              <label for="exampleInputPassword1"></label>
              <input type="date" class="form-control" placeholder="Password" name="dateDeparture"
                id="exampleInputPassword2">
            </div>

            <div class="form-group-inline">
              <button type="submit" class="btn btn-primary">Confirm</button>
            </div>

          </form>

        </div>

        <datalist id="departureCities">
          <%for (var i in dataCitiesDeparture) { %>
            <option>
              <%=dataCitiesDeparture[i]._id.departureCity%>
            </option>
            <%}%>
        </datalist>

        <datalist id="arrivalCities">
         <%for (var i in dataCitiesArrival) { %>
           <option>
             <%=dataCitiesArrival[i]._id.arrivalCity%>
           </option>
           <%}%>
        </datalist>

      </div>



    </div> <!-- close main row -->
  </div> <!-- close container -->


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>