/* PAGE */
body {
  height: max-content;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(182,222,250); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(182,222,250,1) 0%, rgba(150,204,240,1) 40%, rgba(88,178,242,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(182,222,250,1) 0%,rgba(150,204,240,1) 40%,rgba(88,178,242,1) 100%);/* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(182,222,250,1) 0%,rgba(150,204,240,1) 40%,rgba(88,178,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.container {
  
  height: 100vh;
  width: 100vh;
}

a {
  color: #FF4C4E;
}

/* HEADER */
.menu {
  display: flex;
  background-color: white;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}

.sous-menu {
  display: flex;
  justify-content: center;
}

#logo {
  height: 40px;
}

.nav-text {
  font-size: 16px;
  font-weight: bold;
  color: rgb(106, 106, 106);
  opacity: 0.7;
  transition: 0.2s;
}

.nav-text:hover {
  color: #FF4C4E;
  opacity: 1;
}

/* FORMS */ 
.form {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* search page */
.inline-form {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.form-group-inline{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

/* CARDS */
.tile {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: white;
  
  box-shadow: 6px 6px grey;
}

.tile-elm {
  margin: 15px;
  text-align: center;
}

/* GENERAL */

h3 {
  color: white;
  text-shadow: 1px 1px grey;
}

.btn {
  background-color: #FF4C4E !important;
  border-color: #FF4C4E !important;
  box-shadow: 1px 1px rgb(152, 66, 66);
  
}


.title-shift {
  margin-top: 40px;
  color: white;
}

.oops-btn {
  margin-top: 25px;
}

.info {
  font-family: Arial, Helvetica, sans-serif;  
}

.price {
  font-weight: bold;
}

/* TABLE */
.table {
  margin-top: 30px;
  background-color: white !important;
  padding: 10px !important;
  box-shadow: 6px 6px grey;
}

.total {
  background-color: #fb8789;
  
}

